force-app/main/default/flows/ContactPointConsentHistorySub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Contact_Point_Consent_History</name>
        <label>Check Contact Point Consent History</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <actionName>ConsentHistoryInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference
      >Contact_Point_Consent_History_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bbId</name>
            <value>
                <elementReference>Business_Brand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cpId</name>
            <value>
                <elementReference>cpId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dupId</name>
            <value>
                <elementReference>dupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeStamp</name>
            <value>
                <elementReference>timeStamp</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Address_CP_Id</name>
        <label>Set Address CP Id</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>cpId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Point_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Use_Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cpName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Selected_Address_CP.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_DUP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_CP_Id</name>
        <label>Set Email CP Id</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>cpId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Point_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Use_Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cpName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_CP_Email.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_DUP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone_CP_Id</name>
        <label>Set Phone CP Id</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>cpId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Point_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Use_Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cpName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Phone_CP.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_DUP</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddress</name>
        <choiceText>Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmail</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePhone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Selection</name>
        <label>Check Selection</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Use_Purpose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Point_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Date_and_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_CP_Email</targetReference>
            </connector>
            <label>Email Selection</label>
        </rules>
        <rules>
            <name>Phone_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Use_Purpose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Point_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Date_and_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Phone_CP</targetReference>
            </connector>
            <label>Phone Selection</label>
        </rules>
        <rules>
            <name>Address_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Use_Purpose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Point_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Date_and_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Address_CP</targetReference>
            </connector>
            <label>Address Selection</label>
        </rules>
    </decisions>
    <description
  >Check the consent status for a specific time, contact point and data use purpose.</description>
    <dynamicChoiceSets>
        <name>allBusinessBrands</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BusinessBrand</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cpAddress</name>
        <collectionReference>Get_CP_Address</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ContactPointAddress</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cpEmail</name>
        <collectionReference>Get_CP_Email</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ContactPointEmail</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cpPhone</name>
        <collectionReference>Get_CP_Phone</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ContactPointPhone</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dupCollection</name>
        <collectionReference>Get_DUP</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DataUsePurpose</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel
  >ContactPointConsentHistorySub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactPointConsentHistorySub</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CP_Address</name>
        <label>Get CP Address</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Contact_Point_Consent_History_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CP_Email</name>
        <label>Get CP Email</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CP_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CP_Phone</name>
        <label>Get CP Phone</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CP_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DUP</name>
        <label>Get DUP</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CP_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CanDataSubjectOptOut</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Address_CP</name>
        <label>Get Selected Address CP</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Address_CP_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Point_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_CP_Email</name>
        <label>Get Selected CP Email</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_CP_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Point_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_DUP</name>
        <label>Get Selected DUP</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Check_Contact_Point_Consent_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Phone_CP</name>
        <label>Get Selected Phone CP</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Phone_CP_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Point_Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contact_Point_Consent_History_Filter</name>
        <label>Contact Point Consent History Filter</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selection</targetReference>
        </connector>
        <fields>
            <name>Business_Brand</name>
            <choiceReferences>allBusinessBrands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Contact_Point_Type</name>
            <choiceReferences>choiceEmail</choiceReferences>
            <choiceReferences>choicePhone</choiceReferences>
            <choiceReferences>choiceAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contact Point Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Point_Email</name>
            <choiceReferences>cpEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Point Email</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >Select_Contact_Point_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceEmail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Point_Phone</name>
            <choiceReferences>cpPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Point Phone</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >Select_Contact_Point_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choicePhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Point_Address</name>
            <choiceReferences>cpAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Point Address</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >Select_Contact_Point_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceAddress</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Data_Use_Purpose</name>
            <choiceReferences>dupCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data Use Purpose</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Select Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Point_Consent_History_Result</name>
        <label>Contact Point Consent History Result</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgResult</name>
            <fieldText
      >&lt;p&gt;Contact Point: {!cpName}&lt;/p&gt;&lt;p&gt;Data Use Purpose: {!Get_Selected_DUP.Name}&lt;/p&gt;&lt;p&gt;Timestamp: {!timeStamp}&lt;/p&gt;&lt;p&gt;Privacy Consent Status: {!Check_Contact_Point_Consent_History}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DUP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cpName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
