force-app/main/default/flows/ContactTriggerSetIndividual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Contact_Email</name>
        <label>Check Contact Email</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CP_Email</targetReference>
            </connector>
            <label>Contact Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Mailing_Address</name>
        <label>Check Contact Mailing Address</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_Mailing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CP_Address</targetReference>
            </connector>
            <label>Contact Has Mailing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Mobile</name>
        <label>Check Contact Mobile</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>For_each_Business_Brand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CP_Mobile</targetReference>
            </connector>
            <label>Contact Has Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Phone</name>
        <label>Check Contact Phone</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CP_Phone</targetReference>
            </connector>
            <label>Contact Has Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>842</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>Check_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Email</targetReference>
            </connector>
            <label>Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mailing_Address</name>
        <label>Check Mailing Address</label>
        <locationX>842</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Check_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Mailing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Address</targetReference>
            </connector>
            <label>Has Mailing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile</name>
        <label>Check Mobile</label>
        <locationX>842</locationX>
        <locationY>3407</locationY>
        <defaultConnector>
            <targetReference>For_each_DUP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Mobile</targetReference>
            </connector>
            <label>Has Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone</name>
        <label>Check Phone</label>
        <locationX>842</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Check_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Phone</targetReference>
            </connector>
            <label>Has Phone</label>
        </rules>
    </decisions>
    <description>Create an Individual record</description>
    <environments>Default</environments>
    <formulas>
        <name>calcCPAddressName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - Mailing Address&apos;</expression>
    </formulas>
    <formulas>
        <name>calcCPCEmailName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.Email} + &apos; - &apos; + {!For_each_Business_Brand.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCMailingAddressName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - MailingAddress - &apos; + {!For_each_Business_Brand.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCMobileName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.MobilePhone} + &apos; - &apos; + {!For_each_Business_Brand.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCPhoneName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.Phone} + &apos; - &apos; + {!For_each_Business_Brand.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcEmailConsentStatus</name>
        <dataType>String</dataType>
        <expression
    >if ({!$Record.HasOptedOutOfEmail}, &apos;OptOut&apos;, &apos;OptIn&apos;)</expression>
    </formulas>
    <formulas>
        <name>calcPhoneConsentStatus</name>
        <dataType>String</dataType>
        <expression
    >if ({!$Record.DoNotCall}, &apos;OptOut&apos;, &apos;OptIn&apos;)</expression>
    </formulas>
    <interviewLabel>ContactAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactTriggerSetIndividual</label>
    <loops>
        <name>For_each_Business_Brand</name>
        <label>For each Business Brand</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <collectionReference>Get_Business_Brands</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>For_each_DUP</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_each_DUP</name>
        <label>For each DUP</label>
        <locationX>622</locationX>
        <locationY>2279</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Mailing_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_Business_Brand</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CP_Address</name>
        <label>Create CP Address</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Check_Contact_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPAddressName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CP_Email</name>
        <label>Create CP Email</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Check_Contact_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailAddress</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CP_Mobile</name>
        <label>Create CP Mobile</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>For_each_Business_Brand</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneType</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CP_Phone</name>
        <label>Create CP Phone</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Check_Contact_Mobile</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneType</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Address</name>
        <label>Create CPC Address</label>
        <locationX>710</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>For_each_Business_Brand.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>Create_CP_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCMailingAddressName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Email</name>
        <label>Create CPC Email</label>
        <locationX>710</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Check_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>For_each_Business_Brand.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>Create_CP_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCEmailName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcEmailConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Mobile</name>
        <label>Create CPC Mobile</label>
        <locationX>710</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>For_each_DUP</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>For_each_Business_Brand.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>Create_CP_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCMobileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcPhoneConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Phone</name>
        <label>Create CPC Phone</label>
        <locationX>710</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>Check_Mobile</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>For_each_Business_Brand.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>Create_CP_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCPhoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcPhoneConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Brands</name>
        <label>Get Business Brands</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Mailing_Address</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessBrand</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Brands</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CanDataSubjectOptOut</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </connector>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
