force-app/main/default/flows/HasOptedOutOfPhoneSub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_CP_Phone</name>
        <label>Add CP Phone</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>arrayCPPhone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Phone_CP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Phone_CP</targetReference>
        </connector>
    </assignments>
    <description
  >Sub flow invoked to change the consent status of phone related consent records</description>
    <environments>Default</environments>
    <formulas>
        <name>calcPhoneConsentStatus</name>
        <dataType>String</dataType>
        <expression
    >if ({!hasOptedOutOfPhone}, &apos;OptOut&apos;, &apos;OptIn&apos;)</expression>
    </formulas>
    <interviewLabel
  >HasOptedOutOfPhoneSub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HasOptedOutOfPhoneSub</label>
    <loops>
        <name>For_each_Phone_CP</name>
        <label>For each Phone CP</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Phone_CP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CP_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CPC_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Phone_CP</name>
        <label>Get Phone CP</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Phone_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CPC_Phone</name>
        <label>Update CPC Phone</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>In</operator>
            <value>
                <elementReference>arrayCPPhone</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcPhoneConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Phone_CP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>arrayCPPhone</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasOptedOutOfPhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
