force-app/main/default/flows/IndividualTriggerCleanup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Unset_Contact</name>
        <label>Unset Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Point_Type_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unset_Contact</targetReference>
            </connector>
            <label>Contact exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Consent_Mobile</name>
        <label>Check Contact Point Consent Mobile</label>
        <locationX>402</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>For_each_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Consent_Mobile_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Phone_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Phone_Consent</targetReference>
            </connector>
            <label>Contact Point Consent Mobile exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Email</name>
        <label>Check Contact Point Email</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Get_Phone_Contact_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Email_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Contact_Point</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Email_Contact_Point</targetReference>
            </connector>
            <label>Contact Point Email exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Mobile</name>
        <label>Check Contact Point Mobile</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Mobile_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Phone_Contact_Point</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Phone_Contact_Point</targetReference>
            </connector>
            <label>Contact Point Mobile exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Type_Consent</name>
        <label>Check Contact Point Type Consent</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Contact_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Type_Consent_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact_Point_Type_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contact_Type_Consent</targetReference>
            </connector>
            <label>Contact Point Type Consent exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_Point_Consent_Email</name>
        <label>Check Content Point Consent Email</label>
        <locationX>402</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>For_each_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Point_Consent_Email_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Email_Consent</targetReference>
            </connector>
            <label>Content Point Consent Email exist</label>
        </rules>
    </decisions>
    <interviewLabel
  >IndividualTriggerCleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IndividualTriggerCleanup</label>
    <loops>
        <name>For_each_Email</name>
        <label>For each Email</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Email_Contact_Point</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Email_Consent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Point_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Phone</name>
        <label>For each Phone</label>
        <locationX>182</locationX>
        <locationY>2615</locationY>
        <collectionReference>Get_Phone_Contact_Point</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Phone_Consent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Point_Mobile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contact_Type_Consent</name>
        <label>Delete Contact Type Consent</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Get_Email_Contact_Point</targetReference>
        </connector>
        <inputReference>Get_Contact_Point_Type_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Email_Consent</name>
        <label>Delete Email Consent</label>
        <locationX>270</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>For_each_Email</targetReference>
        </connector>
        <inputReference>Get_Email_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Email_Contact_Point</name>
        <label>Delete Email Contact Point</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Get_Phone_Contact_Point</targetReference>
        </connector>
        <inputReference>Get_Email_Contact_Point</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Phone_Consent</name>
        <label>Delete Phone Consent</label>
        <locationX>270</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>For_each_Phone</targetReference>
        </connector>
        <inputReference>Get_Phone_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Phone_Contact_Point</name>
        <label>Delete Phone Contact Point</label>
        <locationX>50</locationX>
        <locationY>3407</locationY>
        <inputReference>Get_Phone_Contact_Point</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Point_Type_Consent</name>
        <label>Get Contact Point Type Consent</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Point_Type_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Consent</name>
        <label>Get Email Consent</label>
        <locationX>402</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Content_Point_Consent_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Contact_Point</name>
        <label>Get Email Contact Point</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Consent</name>
        <label>Get Phone Consent</label>
        <locationX>402</locationX>
        <locationY>2735</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Check_Contact_Point_Consent_Mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Phone.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Contact_Point</name>
        <label>Get Phone Contact Point</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Contact_Point_Type_Consent</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cleanup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cleanup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Individual</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
