force-app/main/default/flows/IndividualTriggerCleanup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Contact_Id</name>
        <label>Add Contact Id</label>
        <locationX>424</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>arrayContactId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CPC_Address</name>
        <label>Add CPC Address</label>
        <locationX>600</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>arrayCPC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CPC_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CPC_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CPC_Email</name>
        <label>Add CPC Email</label>
        <locationX>600</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>arrayCPC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CPC_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CPC_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CPC_Phone</name>
        <label>Add CPC Phone</label>
        <locationX>600</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>arrayCPC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CPC_Phone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CPC_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_Id</name>
        <label>Add Lead Id</label>
        <locationX>424</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>arrayLeadId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CP_Address</name>
        <label>Check CP Address</label>
        <locationX>182</locationX>
        <locationY>4775</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Address_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CP_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CP_Address</targetReference>
            </connector>
            <label>CP Address exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CP_Email</name>
        <label>Check CP Email</label>
        <locationX>182</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Check_CP_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Email_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CP_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CP_Email</targetReference>
            </connector>
            <label>CP Email exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CP_Phone</name>
        <label>Check CP Phone</label>
        <locationX>182</locationX>
        <locationY>4439</locationY>
        <defaultConnector>
            <targetReference>Check_CP_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Phone_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CP_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CP_Phone</targetReference>
            </connector>
            <label>CP Phone exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CPC</name>
        <label>Check CPC</label>
        <locationX>336</locationX>
        <locationY>3863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPC_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>arrayCPC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CPC</targetReference>
            </connector>
            <label>CPC exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >IndividualTriggerCleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IndividualTriggerCleanup</label>
    <loops>
        <name>For_each_Contact</name>
        <label>For each Contact</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unset_Individual_on_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CP_Address</name>
        <label>For each CP Address</label>
        <locationX>336</locationX>
        <locationY>3191</locationY>
        <collectionReference>Get_CP_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CPC_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_CPC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CP_Email</name>
        <label>For each CP Email</label>
        <locationX>336</locationX>
        <locationY>1607</locationY>
        <collectionReference>Get_CP_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CPC_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CP_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CP_Phone</name>
        <label>For each CP Phone</label>
        <locationX>336</locationX>
        <locationY>2399</locationY>
        <collectionReference>Get_CP_Phone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CPC_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CP_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CPC_Address</name>
        <label>For each CPC Address</label>
        <locationX>512</locationX>
        <locationY>3431</locationY>
        <collectionReference>Get_CPC_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CPC_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CPC_Email</name>
        <label>For each CPC Email</label>
        <locationX>512</locationX>
        <locationY>1847</locationY>
        <collectionReference>Get_CPC_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CPC_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CPC_Phone</name>
        <label>For each CPC Phone</label>
        <locationX>512</locationX>
        <locationY>2639</locationY>
        <collectionReference>Get_CPC_Phone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CPC_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Lead</name>
        <label>For each Lead</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unset_Individual_Id_on_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_CP_Address</name>
        <label>Delete CP Address</label>
        <locationX>50</locationX>
        <locationY>4895</locationY>
        <inputReference>Get_CP_Address</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_CP_Email</name>
        <label>Delete CP Email</label>
        <locationX>50</locationX>
        <locationY>4223</locationY>
        <connector>
            <targetReference>Check_CP_Phone</targetReference>
        </connector>
        <inputReference>Get_CP_Email</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_CP_Phone</name>
        <label>Delete CP Phone</label>
        <locationX>50</locationX>
        <locationY>4559</locationY>
        <connector>
            <targetReference>Check_CP_Address</targetReference>
        </connector>
        <inputReference>Get_CP_Phone</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_CPC</name>
        <label>Delete CPC</label>
        <locationX>182</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Check_CP_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>arrayCPC</elementReference>
            </value>
        </filters>
        <object>ContactPointConsent</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CP_Address</name>
        <label>Get CP Address</label>
        <locationX>336</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CP_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CP_Email</name>
        <label>Get CP Email</label>
        <locationX>336</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CP_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CP_Phone</name>
        <label>Get CP Phone</label>
        <locationX>336</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CP_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Address</name>
        <label>Get CPC Address</label>
        <locationX>512</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CPC_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_CP_Address.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Email</name>
        <label>Get CPC Email</label>
        <locationX>512</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CPC_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_CP_Email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Phone</name>
        <label>Get CPC Phone</label>
        <locationX>512</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CPC_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_CP_Phone.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>336</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Unset_Individual_Id_on_Lead</name>
        <label>Unset Individual Id on Lead</label>
        <locationX>336</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Get_CP_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>arrayLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unset_Individual_on_Contacts</name>
        <label>Unset Individual on Contacts</label>
        <locationX>336</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>arrayContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cleanup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cleanup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Individual</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>arrayContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>arrayCPC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>arrayLeadId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
