force-app/main/default/flows/IndividualTriggerChangeOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_CPC_Address_to_CPC_Update</name>
        <label>Add CPC Address to CPC Update</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>cpcUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CPC_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CPC_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CPC_Email_to_CPC_Update</name>
        <label>Add CPC Email to CPC Update</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>cpcUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CPC_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CPC_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CPC_Phone_to_CPC_Update</name>
        <label>Add CPC Phone to CPC Update</label>
        <locationX>314</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>cpcUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CPC_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CPC_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CPC_Address_Owner</name>
        <label>Set CPC Address Owner</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>For_each_CPC_Address.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CPC_Address_to_CPC_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CPC_Email_Owner</name>
        <label>Set CPC Email Owner</label>
        <locationX>314</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>For_each_CPC_Email.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CPC_Email_to_CPC_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CPC_Phone_Owner</name>
        <label>Set CPC Phone Owner</label>
        <locationX>314</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>For_each_CPC_Phone.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CPC_Phone_to_CPC_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Owner</name>
        <label>Check Owner</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Point_Address</targetReference>
            </connector>
            <label>Is changed</label>
        </rules>
    </decisions>
    <description
  >Update related privacy records if the Individual owner is changed</description>
    <interviewLabel
  >IndividualTriggerChangeOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IndividualTriggerChangeOwner</label>
    <loops>
        <name>For_each_CP_Address</name>
        <label>For each CP Address</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Contact_Point_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CPC_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CP_Email</name>
        <label>For each CP Email</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <collectionReference>Get_Contact_Point_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CPC_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CP_Phone</name>
        <label>For each CP Phone</label>
        <locationX>50</locationX>
        <locationY>2399</locationY>
        <collectionReference>Get_Contact_Point_Phone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CPC_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CPC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CPC_Address</name>
        <label>For each CPC Address</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_CPC_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CPC_Address_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CPC_Email</name>
        <label>For each CPC Email</label>
        <locationX>226</locationX>
        <locationY>1847</locationY>
        <collectionReference>Get_CPC_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CPC_Email_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_CPC_Phone</name>
        <label>For each CPC Phone</label>
        <locationX>226</locationX>
        <locationY>2639</locationY>
        <collectionReference>Get_CPC_Phone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CPC_Phone_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_CP_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Point_Address</name>
        <label>Get Contact Point Address</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Point_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Point_Email</name>
        <label>Get Contact Point Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Point_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Point_Phone</name>
        <label>Get Contact Point Phone</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CP_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Address</name>
        <label>Get CPC Address</label>
        <locationX>226</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CPC_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_CP_Address.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Email</name>
        <label>Get CPC Email</label>
        <locationX>226</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CPC_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_CP_Email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Phone</name>
        <label>Get CPC Phone</label>
        <locationX>226</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_CPC_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_CP_Phone.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CPC</name>
        <label>Update CPC</label>
        <locationX>50</locationX>
        <locationY>3191</locationY>
        <inputReference>cpcUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Owner</targetReference>
        </connector>
        <object>Individual</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cpcUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointConsent</objectType>
    </variables>
</Flow>
