force-app/main/default/flows/IndividualTriggerCleanup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Unset_Contact</name>
        <label>Unset Contact</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>For_each_Contact.IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unset_Lead</name>
        <label>Unset Lead</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>For_each_Lead.IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Point_Address</name>
        <label>Check Contact Point Address</label>
        <locationX>182</locationX>
        <locationY>4991</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Address_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Address_Contact_Point</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Address_Contact_Point</targetReference>
            </connector>
            <label>Contact Point Address exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Consent_Address</name>
        <label>Check Contact Point Consent Address</label>
        <locationX>402</locationX>
        <locationY>4559</locationY>
        <defaultConnector>
            <targetReference>For_each_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Consent_Address_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Address_Consent</targetReference>
            </connector>
            <label>Contact Point Consent Address exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Consent_Phone</name>
        <label>Check Contact Point Consent Phone</label>
        <locationX>402</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>For_each_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Consent_Phone_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Phone_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Phone_Consent</targetReference>
            </connector>
            <label>Contact Point Consent Phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Email</name>
        <label>Check Contact Point Email</label>
        <locationX>182</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>Get_Phone_Contact_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Email_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Contact_Point</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Email_Contact_Point</targetReference>
            </connector>
            <label>Contact Point Email exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Phone</name>
        <label>Check Contact Point Phone</label>
        <locationX>182</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Get_Address_Contact_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Phone_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Phone_Contact_Point</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Phone_Contact_Point</targetReference>
            </connector>
            <label>Contact Point Phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Point_Type_Consent</name>
        <label>Check Contact Point Type Consent</label>
        <locationX>182</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Contact_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Type_Consent_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact_Point_Type_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contact_Type_Consent</targetReference>
            </connector>
            <label>Contact Point Type Consent exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_Point_Consent_Email</name>
        <label>Check Content Point Consent Email</label>
        <locationX>402</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>For_each_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Point_Consent_Email_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Email_Consent</targetReference>
            </connector>
            <label>Content Point Consent Email exist</label>
        </rules>
    </decisions>
    <interviewLabel
  >IndividualTriggerCleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IndividualTriggerCleanup</label>
    <loops>
        <name>For_each_Address</name>
        <label>For each Address</label>
        <locationX>182</locationX>
        <locationY>4319</locationY>
        <collectionReference>Get_Address_Contact_Point</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Address_Consent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Point_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Contact</name>
        <label>For each Contact</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unset_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Email</name>
        <label>For each Email</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <collectionReference>Get_Email_Contact_Point</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Email_Consent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Point_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Lead</name>
        <label>For each Lead</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unset_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Point_Type_Consent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Phone</name>
        <label>For each Phone</label>
        <locationX>182</locationX>
        <locationY>3191</locationY>
        <collectionReference>Get_Phone_Contact_Point</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Phone_Consent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Point_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Address_Consent</name>
        <label>Delete Address Consent</label>
        <locationX>270</locationX>
        <locationY>4679</locationY>
        <connector>
            <targetReference>For_each_Address</targetReference>
        </connector>
        <inputReference>Get_Address_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Address_Contact_Point</name>
        <label>Delete Address Contact Point</label>
        <locationX>50</locationX>
        <locationY>5111</locationY>
        <inputReference>Get_Address_Contact_Point</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Contact_Type_Consent</name>
        <label>Delete Contact Type Consent</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Get_Email_Contact_Point</targetReference>
        </connector>
        <inputReference>Get_Contact_Point_Type_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Email_Consent</name>
        <label>Delete Email Consent</label>
        <locationX>270</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>For_each_Email</targetReference>
        </connector>
        <inputReference>Get_Email_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Email_Contact_Point</name>
        <label>Delete Email Contact Point</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Get_Phone_Contact_Point</targetReference>
        </connector>
        <inputReference>Get_Email_Contact_Point</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Phone_Consent</name>
        <label>Delete Phone Consent</label>
        <locationX>270</locationX>
        <locationY>3551</locationY>
        <connector>
            <targetReference>For_each_Phone</targetReference>
        </connector>
        <inputReference>Get_Phone_Consent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Phone_Contact_Point</name>
        <label>Delete Phone Contact Point</label>
        <locationX>50</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Get_Address_Contact_Point</targetReference>
        </connector>
        <inputReference>Get_Phone_Contact_Point</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Address_Consent</name>
        <label>Get Address Consent</label>
        <locationX>402</locationX>
        <locationY>4439</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Check_Contact_Point_Consent_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Address.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Contact_Point</name>
        <label>Get Address Contact Point</label>
        <locationX>182</locationX>
        <locationY>4199</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Point_Type_Consent</name>
        <label>Get Contact Point Type Consent</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Point_Type_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Consent</name>
        <label>Get Email Consent</label>
        <locationX>402</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Content_Point_Consent_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Contact_Point</name>
        <label>Get Email Contact Point</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Consent</name>
        <label>Get Phone Consent</label>
        <locationX>402</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Point_Consent_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactPointId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Phone.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Contact_Point</name>
        <label>Get Phone Contact Point</label>
        <locationX>182</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>For_each_Contact</targetReference>
        </connector>
        <inputReference>For_each_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>For_each_Lead</targetReference>
        </connector>
        <inputReference>For_each_Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cleanup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cleanup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Individual</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
