force-app/main/default/flows/LeadTriggerSetIndividual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Address</name>
        <label>Check Address</label>
        <locationX>990</locationX>
        <locationY>2688</locationY>
        <defaultConnector>
            <targetReference>Check_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Address</targetReference>
            </connector>
            <label>Has Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign</name>
        <label>Check Campaign</label>
        <locationX>616</locationX>
        <locationY>1464</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DOI_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_DOI_Campaign_Member</targetReference>
            </connector>
            <label>Campaign exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>990</locationX>
        <locationY>3024</locationY>
        <defaultConnector>
            <targetReference>Check_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Email</targetReference>
            </connector>
            <label>Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Individual</name>
        <label>Check Individual</label>
        <locationX>462</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Create_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Individual</defaultConnectorLabel>
        <rules>
            <name>Has_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Address</name>
        <label>Check Lead Address</label>
        <locationX>770</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_has_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Contact_Point_Mailing_Address</targetReference>
            </connector>
            <label>Lead has Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Email</name>
        <label>Check Lead Email</label>
        <locationX>770</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Point_Email</targetReference>
            </connector>
            <label>Lead Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Mobile</name>
        <label>Check Lead Mobile</label>
        <locationX>770</locationX>
        <locationY>2232</locationY>
        <defaultConnector>
            <targetReference>For_each_DUP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Has_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Contact_Point_Mobile_Phone</targetReference>
            </connector>
            <label>Lead Has Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Phone</name>
        <label>Check Lead Phone</label>
        <locationX>770</locationX>
        <locationY>1896</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Has_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Contact_Point_Home_Phone</targetReference>
            </connector>
            <label>Lead Has Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile</name>
        <label>Check Mobile</label>
        <locationX>990</locationX>
        <locationY>3696</locationY>
        <defaultConnector>
            <targetReference>For_each_DUP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Mobile</targetReference>
            </connector>
            <label>Has Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone</name>
        <label>Check Phone</label>
        <locationX>990</locationX>
        <locationY>3360</locationY>
        <defaultConnector>
            <targetReference>Check_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Phone</targetReference>
            </connector>
            <label>Has Phone</label>
        </rules>
    </decisions>
    <description>Create an Individual record</description>
    <environments>Default</environments>
    <formulas>
        <name>calcCPAddressName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - Mailing Address&apos;</expression>
    </formulas>
    <formulas>
        <name>calcCPCEmailName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.Email} + &apos; - &apos; + {!$Record.Business_Brand__r.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCMailingAddressName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - MailingAddress - &apos; + {!$Record.Business_Brand__r.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCMobileName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.MobilePhone} + &apos; - &apos; + {!$Record.Business_Brand__r.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCPhoneName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.Phone} + &apos; - &apos; + {!$Record.Business_Brand__r.Name} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcDoNotCall</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Record.Mobile_Opt_In__c})</expression>
    </formulas>
    <formulas>
        <name>calcEmailConsentStatus</name>
        <dataType>String</dataType>
        <expression>&apos;Seen&apos;</expression>
    </formulas>
    <formulas>
        <name>calcPhoneConsentStatus</name>
        <dataType>String</dataType>
        <expression
    >if ({!$Record.DoNotCall}, &apos;OptOut&apos;, &apos;OptIn&apos;)</expression>
    </formulas>
    <interviewLabel
  >LeadTriggerSetIndividual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadTriggerSetIndividual</label>
    <loops>
        <name>For_each_DUP</name>
        <label>For each DUP</label>
        <locationX>770</locationX>
        <locationY>2568</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Address</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_DOI_Campaign_Member</name>
        <label>Add DOI Campaign Member</label>
        <locationX>484</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>Check_Lead_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_DOI_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Email</name>
        <label>Create Contact Point Email</label>
        <locationX>616</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Get_DOI_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailAddress</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Home_Phone</name>
        <label>Create Contact Point Home Phone</label>
        <locationX>638</locationX>
        <locationY>2016</locationY>
        <connector>
            <targetReference>Check_Lead_Mobile</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneType</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Mailing_Address</name>
        <label>Create Contact Point Mailing Address</label>
        <locationX>638</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Check_Lead_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPAddressName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Mobile_Phone</name>
        <label>Create Contact Point Mobile Phone</label>
        <locationX>638</locationX>
        <locationY>2352</locationY>
        <connector>
            <targetReference>For_each_DUP</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneType</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Address</name>
        <label>Create CPC Address</label>
        <locationX>858</locationX>
        <locationY>2808</locationY>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference
        >Create_Contact_Point_Mailing_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCMailingAddressName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Email</name>
        <label>Create CPC Email</label>
        <locationX>858</locationX>
        <locationY>3144</locationY>
        <connector>
            <targetReference>Check_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>Create_Contact_Point_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCEmailName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcEmailConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Mobile</name>
        <label>Create CPC Mobile</label>
        <locationX>858</locationX>
        <locationY>3816</locationY>
        <connector>
            <targetReference>For_each_DUP</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference
        >Create_Contact_Point_Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCMobileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcPhoneConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Phone</name>
        <label>Create CPC Phone</label>
        <locationX>858</locationX>
        <locationY>3480</locationY>
        <connector>
            <targetReference>Check_Mobile</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference
        >Create_Contact_Point_Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCPhoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcPhoneConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>770</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>770</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CanDataSubjectOptOut</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DOI_Campaign</name>
        <label>Get DOI Campaign</label>
        <locationX>616</locationX>
        <locationY>1344</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Lead Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>770</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </connector>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <elementReference>calcDoNotCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Individual</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
</Flow>
