force-app/main/default/flows/LeadTriggerSetIndividual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Address</name>
        <label>Check Address</label>
        <locationX>704</locationX>
        <locationY>3839</locationY>
        <defaultConnector>
            <targetReference>Check_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Address</targetReference>
            </connector>
            <label>Has Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CPTC_Phone</name>
        <label>Check CPTC Phone</label>
        <locationX>310</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>For_each_DUP_CPTC_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPTC_Phone_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Create_Contact_Point_Home_Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_DUP</targetReference>
            </connector>
            <label>CPTC Phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>704</locationX>
        <locationY>4175</locationY>
        <defaultConnector>
            <targetReference>Check_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Email</targetReference>
            </connector>
            <label>Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Individual</name>
        <label>Check Individual</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Individual</defaultConnectorLabel>
        <rules>
            <name>Has_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Address</name>
        <label>Check Lead Address</label>
        <locationX>484</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_has_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Contact_Point_Mailing_Address</targetReference>
            </connector>
            <label>Lead has Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Email</name>
        <label>Check Lead Email</label>
        <locationX>484</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Point_Email</targetReference>
            </connector>
            <label>Lead Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Mobile</name>
        <label>Check Lead Mobile</label>
        <locationX>484</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>For_each_DUP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Has_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Contact_Point_Mobile_Phone</targetReference>
            </connector>
            <label>Lead Has Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Phone</name>
        <label>Check Lead Phone</label>
        <locationX>484</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Has_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Create_Contact_Point_Home_Phone</targetReference>
            </connector>
            <label>Lead Has Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile</name>
        <label>Check Mobile</label>
        <locationX>704</locationX>
        <locationY>4847</locationY>
        <defaultConnector>
            <targetReference>For_each_DUP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Mobile</targetReference>
            </connector>
            <label>Has Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone</name>
        <label>Check Phone</label>
        <locationX>704</locationX>
        <locationY>4511</locationY>
        <defaultConnector>
            <targetReference>Check_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPC_Phone</targetReference>
            </connector>
            <label>Has Phone</label>
        </rules>
    </decisions>
    <description>Create an Individual record</description>
    <environments>Default</environments>
    <formulas>
        <name>calcCPAddressName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - Mailing Address&apos;</expression>
    </formulas>
    <formulas>
        <name>calcCPCEmailName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.Email} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCMailingAddressName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - MailingAddress - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCMobileName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.MobilePhone} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPCPhoneName</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!$Record.Phone} + &apos; - &apos; + {!For_each_DUP.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPTCEmailName</name>
        <dataType>String</dataType>
        <expression
    >&apos;Email - &apos; + {!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!For_each_DUP_CPTC_Email.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPTCMailingAddress</name>
        <dataType>String</dataType>
        <expression
    >&apos;Mailing Address - &apos; + {!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!For_each_DUP_CPTC_Mailing_Address.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPTCMobileName</name>
        <dataType>String</dataType>
        <expression
    >&apos;Phone - &apos; + {!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!For_each_DUP_CPTC_Mobile.Name}</expression>
    </formulas>
    <formulas>
        <name>calcCPTCPhoneName</name>
        <dataType>String</dataType>
        <expression
    >&apos;Phone - &apos; + {!$Record.FirstName} + &apos; &apos; + {!$Record.LastName} + &apos; - &apos; + {!For_each_DUP_CPTC_Phone.Name}</expression>
    </formulas>
    <formulas>
        <name>calcEmailConsentStatus</name>
        <dataType>String</dataType>
        <expression
    >if ({!$Record.HasOptedOutOfEmail}, &apos;OptOut&apos;, &apos;OptIn&apos;)</expression>
    </formulas>
    <interviewLabel
  >LeadTriggerSetIndividual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadTriggerSetIndividual</label>
    <loops>
        <name>For_each_DUP</name>
        <label>For each DUP</label>
        <locationX>484</locationX>
        <locationY>3719</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Address</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_each_DUP_CPTC_Email</name>
        <label>For each DUP CPTC Email</label>
        <locationX>352</locationX>
        <locationY>1727</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPTC_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Lead_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_DUP_CPTC_Mailing_Address</name>
        <label>For each DUP CPTC Mailing Address</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPTC_Mailing_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Lead_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_DUP_CPTC_Mobile</name>
        <label>For each DUP CPTC Mobile</label>
        <locationX>442</locationX>
        <locationY>3191</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPTC_Phone_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_DUP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_DUP_CPTC_Phone</name>
        <label>For each DUP CPTC Phone</label>
        <locationX>352</locationX>
        <locationY>2399</locationY>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_CPTC_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Lead_Mobile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Point_Email</name>
        <label>Create Contact Point Email</label>
        <locationX>352</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailAddress</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointEmail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Home_Phone</name>
        <label>Create Contact Point Home Phone</label>
        <locationX>352</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneType</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Mailing_Address</name>
        <label>Create Contact Point Mailing Address</label>
        <locationX>352</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Mailing_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPAddressName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Point_Mobile_Phone</name>
        <label>Create Contact Point Mobile Phone</label>
        <locationX>310</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>Check_CPTC_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneType</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelephoneNumber</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Address</name>
        <label>Create CPC Address</label>
        <locationX>572</locationX>
        <locationY>3959</locationY>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference
        >Create_Contact_Point_Mailing_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCMailingAddressName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Email</name>
        <label>Create CPC Email</label>
        <locationX>572</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>Check_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>Create_Contact_Point_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCEmailName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcEmailConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Mobile</name>
        <label>Create CPC Mobile</label>
        <locationX>572</locationX>
        <locationY>4967</locationY>
        <connector>
            <targetReference>For_each_DUP</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference
        >Create_Contact_Point_Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCMobileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPC_Phone</name>
        <label>Create CPC Phone</label>
        <locationX>572</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Check_Mobile</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference
        >Create_Contact_Point_Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPCPhoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPTC_Email</name>
        <label>Create CPTC Email</label>
        <locationX>440</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointType</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP_CPTC_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPTCEmailName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>calcEmailConsentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPTC_Mailing_Address</name>
        <label>Create CPTC Mailing Address</label>
        <locationX>440</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Mailing_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointType</field>
            <value>
                <stringValue>MailingAddress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference
        >For_each_DUP_CPTC_Mailing_Address.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPTCMailingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPTC_Phone</name>
        <label>Create CPTC Phone</label>
        <locationX>440</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointType</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP_CPTC_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPTCPhoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CPTC_Phone_0</name>
        <label>Create CPTC Phone</label>
        <locationX>530</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>For_each_DUP_CPTC_Mobile</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessBrandId</field>
            <value>
                <elementReference>$Record.Business_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointType</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>For_each_DUP_CPTC_Mobile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>calcCPTCMobileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>484</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>484</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CanDataSubjectOptOut</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>484</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </connector>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>Create_Individual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Individual</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
